@model HRManager.Models.HolidayModel

@{
    ViewBag.Title = "Create";
}


<div class="d-flex justify-content-center align-items-baseline" style="height: 100vh;">

    <div class="col-md-6">
        <h2>Create</h2>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label class="control-label"><strong>@Html.DisplayNameFor(model => model.HolidayName)</strong> <span class="text-danger">*</span></label>
                    <div>
                        @Html.EditorFor(model => model.HolidayName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HolidayName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label"><strong>@Html.DisplayNameFor(model => model.HolidayDate)</strong> <span class="text-danger">*</span></label>
                    <div>
                        @Html.EditorFor(model => model.HolidayDate, "{0:yyyy-MM-ddTHH:mm}", new { htmlAttributes = new { @class = "form-control", type = "datetime-local" } })
                        @Html.ValidationMessageFor(model => model.HolidayDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <input type="submit" value="Save" class="btn btn-success" style="width: 100%;" />
                        <br />
                        <br />
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
