@model HRManager.Models.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}

<h1 class="mb-4">Dashboard</h1>

<div class="row">
    <!-- Employee Statistics -->
    @Html.Partial("_Card", new ViewDataDictionary { { "Title", "Total Employees" }, { "Text", Model.TotalEmployees.ToString() } })
    @Html.Partial("_Card", new ViewDataDictionary { { "Title", "New Hires This Month" }, { "Text", Model.NewHires.ToString() } })
    @Html.Partial("_Card", new ViewDataDictionary { { "Title", "Active Employees" }, { "Text", Model.ActiveEmployees.ToString() } })
    @Html.Partial("_Card", new ViewDataDictionary { { "Title", "Employees on Leave" }, { "Text", Model.EmployeesOnLeave.ToString() } })

    <!-- Department Statistics -->
    @Html.Partial("_Card", new ViewDataDictionary { { "Title", "Total Departments" }, { "Text", Model.TotalDepartments.ToString() } })
    @Html.Partial("_Card", new ViewDataDictionary { { "Title", "Avg. Employees per Dept." }, { "Text", Model.AvgEmployeesPerDepartment.ToString("F2") } })

    <!-- Leave Management -->
    @Html.Partial("_Card", new ViewDataDictionary { { "Title", "Total Leave Requests" }, { "Text", Model.LeaveRequests.ToString() } })
    @Html.Partial("_Card", new ViewDataDictionary { { "Title", "Approved Leave Requests" }, { "Text", Model.ApprovedLeaves.ToString() } })
    @Html.Partial("_Card", new ViewDataDictionary { { "Title", "Pending Leave Requests" }, { "Text", Model.PendingLeaves.ToString() } })
    @Html.Partial("_Card", new ViewDataDictionary { { "Title", "Rejected Leave Requests" }, { "Text", Model.RejectedLeaves.ToString() } })


    <!-- Recent Activities -->
    <div class="col-12 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Recent Activities</h5>
                <ul class="list-group list-group-flush">
                    @foreach (var activity in Model.RecentActivities)
                    {
                        <li class="list-group-item">@activity</li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <!-- Announcements -->
    <div class="col-12 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Latest Announcements</h5>
                <ul class="list-group list-group-flush">
                    @foreach (var announcement in Model.Announcements)
                    {
                        <li class="list-group-item">@announcement</li>
                    }
                </ul>
            </div>
        </div>
    </div>

</div>
