@model HRManager.Models.DesignationModel

@{
    ViewBag.Title = "Create";
}


<div class="d-flex justify-content-center align-items-baseline" style="height: 100vh;">

    <div class="col-md-6">
        <h2>Create</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="control-label"><strong>@Html.DisplayNameFor(model => model.DesignationName)</strong> <span class="text-danger">*</span></label>
                <div>
                    @Html.EditorFor(model => model.DesignationName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DesignationName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label"><strong>@Html.DisplayNameFor(model => model.Department)</strong> <span class="text-danger">*</span></label>
                <div>
                    @Html.DropDownListFor(model => model.Department, (SelectList)ViewBag.Department, "Select Department", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
                </div>
            </div>

                <div class="form-group">
                    <div>
                        <input type="submit" value="Create" class="btn btn-primary" style="width: 100%;" />
                        <br />
                        <br />
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
