<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link href="~/assets/css/sidebar.css" rel="stylesheet" />
    <!-- jQuery for Dropdown in more button for Employee Index -->
    <script src="~/assets/js/jquery-3.7.1.min.js"></script>
</head>
<body>

    <div class="wrapper">

        @Html.Partial("_Sidebar")

        <div class="main p-3">
            <div class="container body-content">
                @RenderBody()              
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/assets/js/sidebar.js"></script>

</body>
</html>
